* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ddd;
}
#八卦 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  animation: x 5s linear infinite;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}
@media (max-width: 500px) {
  #八卦 {
    width: 200px;
    height: 200px;
  }
}
@keyframes x {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#八卦 > div:first-child {
  width: 50%;
  position: absolute;
  left: 0;
  height: 100%;
  background: black;
}
#八卦 > div:nth-child(2) {
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  background: white;
}
#八卦 > div:nth-child(3) {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  border-radius: 50%;
  background: black;
}
@media (max-width: 500px) {
  #八卦 > div:nth-child(3) {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
}
#八卦 > div:nth-child(4) {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  border-radius: 50%;
  bottom: 0;
  background: white;
}
@media (max-width: 500px) {
  #八卦 > div:nth-child(4) {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
}
#八卦 > div:nth-child(5) {
  position: absolute;
  left: 50%;
  top: 70px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: white;
}
@media (max-width: 500px) {
  #八卦 > div:nth-child(5) {
    width: 25px;
    height: 25px;
    top: 37.5px;
    margin-left: -12.5px;
  }
}
#八卦 > div:nth-child(6) {
  position: absolute;
  left: 50%;
  bottom: 70px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: black;
}
@media (max-width: 500px) {
  #八卦 > div:nth-child(6) {
    width: 25px;
    height: 25px;
    bottom: 37.5px;
    margin-left: -12.5px;
  }
}
#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#八卦-描述 {
  margin-top: 1em;
}
